* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

html{
    background-color:#EEEEEE;
    height: 100%;
}

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color:#EEEEEE;
}

.brand {
    display: inline-block;
    font-size: 14pt;
}

.nav {
    display: inline-block;
    float: right;
}

.nav li {
    list-style: none;
    text-decoration: none;
    float: left;
    margin-right: 10px;
}

.nav li a:hover{
   background-color: #DDDDDD;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-text {
    color: lightskyblue;
}


a { text-decoration: none; }
a:link { color: black; }
a:visited { color: black; }
a:hover {
    color: gray;
     background-color: #DDDDDD;
   }
a:active { color: gray; }


.page-action {
    font-size: 16pt;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.error {
    background-color: indianred;
}


form label {
    display: inline-block;
    width: 10em;
}

.controls {
    margin-bottom: 5px;
    margin-top: 5px;
}

.controls #content{
    width: 100%;
    padding: 5px;
}

.form-horizontal .control-label {
    text-align: left;
}

form input[type=text],[type=password] {
    padding: 4px;
    font-size: 12pt;
}

select {
    border: 1px solid gray;
    padding: 2px;
    font-size: 12pt;
}

button {
    font-size: 12pt;
    padding: 5px;
}

table {
    border-spacing: 8px;
    border-collapse:collapse;
}

tr {
    border-bottom: 2px solid #EEEEEE;
    background-color:#FFFFFF;
}

th {
    width: 100px;
    text-align: left;
    background-color:#DDDDDD
}

td {
    background: #F9F9F9;

}

.first {
    background-color:#DDDDDD;
}

.form-horizontal{
    background-color:#DDDDDD;
    max-width:400px;
    margin: 0 auto;
    text-align:left;
    padding: 20px;
}

.form-for-post-content{
    background-color:#DDDDDD;
    text-align:left;
    padding: 5px;
}

.form-for-post{
    width: 80%;
    margin: 0 auto;
}

.control-group{
    text-align:left;
}
.control-label{
    max-width:100%;
    vertical-align:middle;
    margin: 0 auto;
}

.input-box{
    vertical-align:middle;
}

.btn{
    margin: 10px 0px;
}

.page-action{
    text-align:center;
}

.text-error {
    color: indianred;
}

.prompt {
    color: #428bca;
    font-size: 12pt;
    margin: 12px 0;
}

#createError {
    text-align: left;
    margin-left: 145px;
    width: 350px;
    background: #9d2932;
    color: white;
}

#replyPostError {
    width: 280px;
    background: #9d2932;
    color: white;
}

#userInformation {
    max-width: 240px;
    margin-left: 100px;
}

#myPost {
    max-width: 600px;
    margin-left: 100px;
}

#line {
    padding-left:4px;
    border-left:1px solid black;
    margin:1px;
}